
:root {
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;

  --theme-color-base: #121212;
  --text-color-base: #fff;
  --text-color-secondary: #FEBA08;

}
