/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swrap;
  src: url("../../static/fonts/Poppinsregular.woff2") format("woff2"), url("../../static/fonts/Poppinsregular.woff") format("woff"), url("../../static/fonts/Poppinsregular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swrap;
  src: url("../../static/fonts/Poppinsmedium.woff2") format("woff2"), url("../../static/fonts/Poppinsmedium.woff") format("woff"), url("../../static/fonts/Poppinsmedium.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swrap;
  src: url("../../static/fonts/Poppinsbold.woff2") format("woff2"), url("../../static/fonts/Poppinsbold.woff") format("woff"), url("../../static/fonts/Poppinsbold.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swrap;
  src: url("../../static/fonts/Roboto.woff2") format("woff2"), url("../../static/fonts/Roboto.woff") format("woff"), url("../../static/fonts/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-display: swrap;
  src: url("../../static/fonts/Robotomedium.woff2") format("woff2"), url("../../static/fonts/Robotomedium.woff") format("woff"), url("../../static/fonts/Robotomedium.ttf") format("truetype");
}

:root {
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;
  --theme-color-base: #121212;
  --text-color-base: #fff;
  --text-color-secondary: #FEBA08;
}

.title2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 133.69%;
  text-align: center;
  color: var(--text-color-secondary);
}

.btn {
  position: relative;
  text-align: center;
  padding: 5px 16px 5px 17px;
  border: 1px solid var(--text-color-secondary);
  background: transparent;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color-base);
}

.btn:hover {
  color: var(--text-color-secondary);
  border: 1px solid var(--text-color-base);
}

.menu__btn {
  width: 17px;
  height: 17px;
  position: relative;
  z-index: 6;
  cursor: pointer;
}

.menu__btn--line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  margin-bottom: 2px;
  background-color: var(--text-color-base);
  transition-duration: 0.1s;
}

.menu__btn .first {
  top: 0%;
  transition-duration: 0.5s;
  transform-origin: 0% 0%;
}

.menu__btn .first-ex {
  top: 0%;
  transition-duration: 0.5s;
  transform-origin: 100% 0%;
}

.menu__btn .second {
  width: 13px;
  top: 25%;
  right: 0%;
}

.menu__btn .third {
  top: 50%;
}

.menu__btn .fourth {
  width: 13px;
  top: 75%;
  right: 0%;
}

.is-active {
  position: fixed;
  right: 3%;
}

.is-active .first {
  transform: skewY(45deg);
}

.is-active .first-ex {
  transform: skewY(-45deg);
}

.is-active .second {
  opacity: 0;
}

.is-active .third {
  opacity: 0;
}

.is-active .fourth {
  opacity: 0;
}

.btn-play {
  position: relative;
  width: 90px;
  height: 90px;
  background: transparent;
  border: none;
  z-index: 7;
}

.btn-play__icon {
  width: 100%;
  height: 100%;
}

.btn2 {
  box-sizing: border-box;
  padding: 15px 25px 15px 25px;
  border: none;
  background: var(--text-color-secondary);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  color: var(--theme-color-base);
  text-align: center;
}

.btn2:hover {
  padding: 14px 24px 14px 24px;
  color: var(--theme-color-base);
  background: var(--text-color-base);
  border: 1px solid var(--text-color-secondary);
}

.head {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.head__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.head__wrap .logo {
  display: block;
  width: 60px;
  height: 18px;
  margin: 10px 10px;
}

.head__wrap .logo__img {
  width: 100%;
  height: 100%;
}

.head__wrap .navigation {
  display: none;
}

.head__wrap .navigation.is-active {
  display: block;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100vh;
  right: 0;
  z-index: 5;
  top: 0;
  background: var(--theme-color-base);
}

.head__wrap .navigation.is-active .navigation__list {
  flex-direction: column;
  margin-top: 70px;
}

.head__wrap .navigation.is-active .navigation__item {
  width: 100%;
  margin: 5px 0px;
  padding: 0px 10px;
}

.head__wrap .navigation.is-active .navigation__item:hover {
  background: var(--text-color-base);
}

.head__wrap .navigation.is-active .navigation__link {
  display: block;
  text-decoration: none;
  color: var(--text-color-base);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.head__wrap .navigation.is-active .navigation__link:hover {
  color: var(--text-color-secondary);
}

.head__wrap .navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__wrap .navigation__item {
  margin: 30px 15px 30px 40px;
}

.head__wrap .navigation__link {
  text-decoration: none;
  color: var(--text-color-base);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.head__wrap .navigation__link:hover {
  color: var(--text-color-secondary);
}

.head__wrap .menu__btn {
  top: 2%;
}

.head__wrap .btn-create {
  display: none;
}

.fixed {
  position: fixed;
  background: var(--theme-color-base);
}

.intro {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.intro:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.intro-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.intro-info__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-info__title {
  margin-top: 20vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 133.69%;
  text-align: center;
}

.intro-info__text {
  margin: 3vh 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 133.69%;
  text-align: center;
}

.video {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 50%;
  z-index: 1;
}

.video__ {
  position: relative;
}

.video__media {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center bottom;
}

.video__cover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center bottom;
  z-index: 2;
}

.del {
  display: none;
}

.timer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer__title {
  margin-top: 60px;
}

.timer__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin: 20px 25px 20px 25px;
  padding-bottom: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 133.69%;
  text-align: center;
  color: var(--text-color-base);
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-base);
}

.timer__btn {
  margin: 50px 0px 50px 0px;
}

.slider {
  padding: 50px 0px;
}

.slider__item {
  position: relative;
  width: 300px;
  height: 400px;
}

.slider__item:hover .slider__name {
  transition-duration: 0.5s;
  height: 100%;
}

.slider__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.slider__name {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  line-height: 133.69%;
  padding-top: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.69%;
  text-align: center;
  color: var(--text-color-secondary);
}

.slider__name:hover {
  height: 100%;
}

.slider .slick-slide {
  padding: 0px 3vh;
}

.control {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 5px 8px 5px 8px;
  top: 92%;
  right: 0px;
  background: rgba(255, 255, 255, 0.05);
  filter: grayscale(1);
}

.control:hover {
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  filter: grayscale(0);
}

.control--prev {
  right: 50px;
}

.control--next {
  right: 10px;
}

.control__img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -1px;
}

.sp-slider {
  margin-bottom: 45px;
}

.sp-slider__title {
  margin: 40px 0px 25px 0px;
}

.sp-slider__items .slick-slide {
  padding: 3px;
}

.sp-slider__link {
  display: block;
  padding: 22px 15px 22px 16px;
  background: var(--text-color-base);
  color: var(--theme-color-base);
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.69%;
  text-align: center;
  text-decoration: none;
}

.sp-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.sp-slider .slick-dots [role="tab"] {
  width: 11px;
  height: 11px;
  border: none;
  border-radius: 50%;
  margin: 0 10px;
  left: 226px;
  top: 1976px;
  background: rgba(255, 255, 255, 0.1);
  color: transparent;
}

.sp-slider .slick-dots .slick-active [role="tab"] {
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  margin: 0 10px;
  left: 200px;
  top: 1974px;
  background: var(--text-color-secondary);
}

.form-fb {
  padding: 50px 0px;
}

.form-fb__title {
  margin: 20px 0px;
  text-align: center;
}

.form-fb__subtitle {
  margin: 20px 0px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.form-big {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.form-big__note {
  position: relative;
  width: 100%;
  height: 193px;
  margin: 10px 0px;
  padding: 0px;
  border-width: 0px;
}

.form-big__note::placeholder {
  padding: 15px 0px 0px 5px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--theme-color-base);
}

.form-big__button {
  position: absolute;
  width: 113px;
  height: 51px;
  padding: 15px 35px 15px 35px;
  right: 0px;
  bottom: 0px;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-big__button:hover {
  padding: 14px 34px 14px 34px;
}

.dim {
  width: 100%;
  height: 51px;
  margin: 10px 0px;
  padding: 0px;
  border-width: 0px;
}

.dim::placeholder {
  display: block !important;
  padding-left: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--theme-color-base);
}

.field {
  position: relative;
  width: 100%;
}

[data-type='validator-error'] {
  font-size: 11px;
  position: absolute;
  z-index: 10;
  margin-top: 2px;
  color: var(--text-color-base);
  background: #c83535;
  box-shadow: 0px 6px 2px -2px #d34d4d;
  padding: 4px 10px;
  border-radius: 1px;
  pointer-events: none;
}

[data-type='validator-error']::before {
  content: '';
  width: 0;
  height: 0;
  top: -5px;
  position: absolute;
  left: 6px;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #c83535;
}

.form-fb__wraper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  jstify-content: end;
  position: relative;
}

.info__namelink {
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 40px 0px 5px 0px;
}

.info__link {
  text-decoration: none;
  margin-bottom: 35px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-secondary);
}

.info__link:hover {
  text-decoration: underline;
}

.form-small {
  position: relative;
}

.form-small__namefield {
  margin: 35px 0px 20px 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.form-small__button {
  position: absolute;
  width: 113px;
  height: 51px;
  padding: 15px 20px 15px 20px;
  right: 0px;
  bottom: 0px;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-small__button:hover {
  padding: 14px 19px 14px 19px;
}

.soc-links {
  display: flex;
  align-items: center;
  jstify-content: flex-start;
}

.soc-links__link {
  width: 43px;
  height: 43px;
  padding: 7px;
  margin: 10px 10px 0px 0px;
  background: var(--text-color-secondary);
  transition-duration: 0.5s;
}

.soc-links__link:hover {
  background: var(--text-color-base);
  box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.3);
}

.soc-links__link-icon {
  width: 100%;
  height: 100%;
}

.foot {
  background: var(--text-color-secondary);
}

.foot__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.document {
  margin: 15px 0px;
  text-align: center;
}

.document__link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--theme-color-base);
}

.document__link:hover {
  text-decoration: underline;
}

.copyright {
  margin-bottom: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color-base);
}

body {
  position: relative;
  background: var(--theme-color-base);
  color: var(--text-color-base);
}

.container {
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    --container-width: var(--mq-size-sm);
  }
  .container .navigation {
    display: block;
  }
  .container .navigation__item {
    margin: 10px 5px 10px 15px;
  }
  .container .navigation__link {
    font-size: 9px;
  }
  .container .btn-create {
    display: block;
    padding: 4px 8px 4px 9px;
    font-size: 11px;
    line-height: 15px;
  }
  .container .menu__btn {
    display: none;
  }
  .intro-info {
    margin-top: 40px;
  }
  .intro-info__title {
    font-size: 40px;
  }
  .intro-info__text {
    font-size: 17px;
    margin-top: 15px;
  }
  .btn-play {
    margin: 30px auto;
  }
  .slider .slick-slide {
    padding: 0px 1vh;
  }
  .control {
    width: 30px;
    padding: 5px 8px 5px 8px;
    top: 0%;
  }
}

@media (min-width: 768px) {
  .container {
    --container-width: var(--mq-size-md);
  }
  .container .logo {
    display: block;
    width: 82px;
    height: 32px;
    margin: 10px 10px;
  }
  .container .navigation__item {
    margin: 10px 10px 10px 15px;
  }
  .container .navigation__link {
    font-size: 15px;
  }
  .container .btn-create {
    padding: 6px 14px 6px 13px;
    font-size: 15px;
  }
  .intro-info {
    margin-top: 50px;
  }
  .intro-info__title {
    font-size: 44px;
  }
  .intro-info__text {
    font-size: 20px;
    margin-top: 18px;
  }
  .intro-info .btn-play {
    margin: 40px auto;
  }
  .form-big {
    flex-wrap: wrap;
    height: 220px;
  }
  .form-big__button {
    right: 15px;
    bottom: 7px;
  }
  .field {
    width: 48%;
  }
  .form-fb__wraper {
    height: 240px;
    flex-wrap: wrap;
  }
  .info__namelink {
    margin-top: 38px;
  }
  .field--smal {
    width: 100%;
  }
  .foot__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .document {
    text-align: start;
  }
  .copyright {
    margin: 15px 0px;
  }
}

@media (min-width: 992px) {
  .container {
    --container-width: var(--mq-size-lg);
  }
  .container .logo {
    display: block;
    width: 92px;
    height: 42px;
    margin: 10px 10px;
  }
  .container .navigation__item {
    margin: 10px 20px 10px 20px;
  }
  .container .navigation__item__link {
    font-size: 18px;
  }
  .container .navigation__item .btn-create {
    padding: 8px 19px 8px 18px;
    font-size: 18px;
  }
  .intro-info {
    margin-top: 50px;
  }
  .intro-info__title {
    font-size: 48px;
  }
  .intro-info__text {
    font-size: 24px;
    margin-top: 18px;
  }
  .form-big__button {
    right: 19px;
  }
}

@media (min-width: 1200px) {
  .container {
    --container-width: var(--mq-size-xl);
  }
  .container .logo {
    display: block;
    width: 109px;
    height: 56px;
    margin: 10px 10px;
  }
  .intro-info {
    margin-top: 50px;
  }
  .intro-info__title {
    font-size: 52px;
  }
  .intro-info__text {
    font-size: 28px;
    margin-top: 18px;
  }
  .form-big__button {
    right: 23px;
  }
}
